*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: black;
    color: white;
}

label{
    margin-left: 20px;
}

#submit{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    padding: 5px;
}

#guess{
    text-align: center;
}
#answer{
    margin-top: 5px;
    text-align: center;
}